SUPABASE_URL=https://hzkbobrpihbfhezidgoe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6a2JvYnJwaWhiZmhlemlkZ29lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NTcxODIsImV4cCI6MjA5NTAzMzE4Mn0.7Ihuu0j6jHyjZH19qjU-_Cgo7-moTkrUE2zJiy938Ss
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6a2JvYnJwaWhiZmhlemlkZ29lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ1NzE4MiwiZXhwIjoyMDk1MDMzMTgyfQ.ptJD19hwJNa93Bu9LBxhoIfC0b1pdqCFXLd3dVQPOMo
SUPABASE_JWT_SECRET=fbb75396-8975-4ccf-86e6-2c9bb699ec01
FRONTEND_URL=http://localhost:3000
